html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.logocontainer {
	width:100%;
	background: #11998e; 
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e); 
    background: linear-gradient(to right, #38ef7d, #11998e); 

}
.logocontainer a{
	text-decoration: none;
}
.logocontainer h1{
	color:#ffffff;
	font-family: Helvetica;
	font-size: 4em;
	text-align: center;
}
/*info stuff*/
.info-container {
	display: flex;
	justify-content: center;
	width: 800px;
	margin: 0 auto;
	margin-top: 2em;
}
.info {
	margin-left: 1em;
	font-family: sans-serif;
	margin-top: 60px;
	color: 	#414767;
}
.info h1 {
	margin-bottom: 0.5em;
	font-size: 2em;
}
.infoimg img {
}
/*main list*/
.italic {
	 font-style: italic;
	 font-weight: lighter;
	 font-size: 0.8em;
}
.main-list {
	width: 80%;
	margin-bottom: 20px;
	margin: 0 auto;
	margin-top: 1em;
}
.main-list h1 {
	font-family:Arial;
	color:black;
	text-align: center;
	font-size: 2em;
	margin-bottom: 0.5em;
	font-weight: normal;
	color: 	#414767;
}
.product-list-container {
	display: flex;
	justify-content: space-between;
	flex-direction:column;
}
.product-list a {
	text-decoration: none;
	color: black;
	height: 100%;
	color: #414767;
}
.product-list {
    background-color: #ffff;
    width: 80%;
    margin:0 auto;
    margin-bottom: 10px;
		padding: 10px;
		border: 1px solid lightgrey;
}
.product-list:hover {
    background-color:#cecece;
    cursor: pointer
}
.product-list p {
	margin-left: 20px;
	font-family: Arial;
}
.button-container {
text-align: center;
}
.addlist-button {
	font-size: 20px;
	font-family: sans-serif;
	padding: 10px;
	border: 1px solid #ffff;
	background: #11998e; 
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e); 
    background: linear-gradient(to right, #38ef7d, #11998e); 
	color: white;
	cursor: pointer
}
.addlist-button:hover {
	border: 1px solid #64d86b;
}
/*insert panel*/
.insert-panel {
	width: 350px;
	font-family: sans-serif;
	border: 1px solid #414767;
}
.insert-panel h1 {
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}
.insert-panel form {
	width: 100%;
}
.insertbox-container {
    display: flex;
	justify-content: space-between;
	flex-direction:column;
}
.insertbox {
	margin-bottom: 10px;
	font-size: 20px;
}
#pn {
	margin-left: 20px;
}
#cp{
	margin-left: 34px;
}
#sp{
	margin-left: 62px;
}
.insertbox input{
	border: 1px solid #gray;
	height: 30px;
	margin-left: 10px;
	width:150px;
}
#submit-bot {
    margin-left: 14%;
    width: 70%;
    margin-bottom: 20px;
}
.floatright {
float:right;
margin-right: 20px;
}

/*productpage section*/

/*productpage-display*/
.insert-amountpanel {
	background-color: lightgreen;
	width: 300px;
	height: 220px;
	font-family: Arial;
	border: 1px solid white;
	border-radius: 10px;
}
.insert-amountpanel h1 {
    text-align: center;
}
.insert-amountpanel form {
	width: 100%;
}
#am {
	margin-left: 14px;
}
#dt {
    margin-left: 40px;
}
.addlist-button-amount {
	font-size: 20px;
	font-family: Arial;
	margin-left: 20px;
	margin-top: 20px;
	padding: 5px;
	border: 1px solid green;
	background-color: green;
	color: white;
	border-radius: 5px;
	cursor: pointer
}
.addlist-button-amount:hover {
	border: 1px solid #cecece;
	background-color: #cecece;
}
#add-bot {
	width: 70%;
	margin-left: 15%;
	margin-top: 0px;
}
.insert-amountpanel h1 {
	margin-bottom: 10px;
}
.bigcontainer {
	height: 1000px;
}
.bigcontainer h1{
  font-size:60px;
	font-family: Helvetica;
	margin-left: 30px;
	margin-bottom: 10px;
	font-weight: normal;
}
.bigcontainer h2{
    margin-top: 20px;
    font-weight: normal;
    margin-left: 30px;
    font-family: Helvetica;
    font-size: 20px;
}
.line-1-container {
	display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: 20px;
}
.line-2-container {
 	display: flex;
    justify-content: flex-start;
		margin-bottom: 10px;
		margin-left: 20px;
}
.line-3-container {
 	display: flex;
    justify-content: flex-start;
		margin-bottom: 10px;
		margin-left: 20px;
}
.text-block {
	font-family: Helvetica;
	padding: 20px;
	margin-left: 10px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.line-1 {
	border: 1px solid #cecece;
	width: 100px;
	text-align: center;
}
.line-2 {
	border: 1px solid #cecece;
	text-align: center;
}
.line-3 {
	text-align: center;
}
.big {
	font-size: 5em;
}
.lessbig {
	font-size: 3em;
}
.chartsize {
	height: 700px;
	width: 700px;
}
/*input stuff*/
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
  height: 32px;
}
.gradcolor {
background: #A1FFCE;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}